.back {
    background-color: #006277;
}

.back2 {
    background-color: #4543E8;
    color: white;
}

div.Blog button {
    background-color: white;
    color: #4543E8;
    border-bottom: ridge;
}

.WtFt {
    color: white;
}

.specBlue {
    color: #4543E8;
}

h1,
h2,
p {
    font-family: 'Epiligue', sans-serif;
}

h3,
h4,
h5 {
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 14px 80px 10px;
    background-color: #006277;
    width: -webkit-fill-available;
}

.header {
    padding: 13px 0;
    padding-left: 80px;
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center; */
}

header section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: -15px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}

nav>h3 {
    display: inline-block;
}

nav>div {
    display: inline-block;
    word-spacing: 20px;
}

li {
    display: inline-block;
}

li:nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
}

li h1 {
    font-size: 60px;
    margin: 0 auto;
}

li img {
    vertical-align: sub;
}

li p {
    display: inline-block;
    vertical-align: super;
}

.I1 {
    justify-content: flex-end;
    align-self: flex-end;
    max-height: 500px;
    max-width: 50%;
}

#Prefooter {
    display: flex;
    max-height: 400px;
    text-align: center;
    padding: 0 auto;
    margin: 0 auto;
}

#W {
    background-image: url(./images/FootBeck.svg);

}

#Prefooter div {
    width: 50%;
    background-size: cover;
    background-position: center;
    padding: 6%;
    max-height: 400px;
}

#Prefooter button {
    border: none;
    background: none;
    color: white;
    flex-direction: row;
}

address {
    display: flex;
    justify-content: space-evenly;
    font-style: normal;

}

address div {
    flex-direction: column;
    display: inline-flex;
    line-height: 30px;
}

a {
    color: white;
    text-decoration: none;
    font-family: 'Epilogue', sans-serif;
}

[alt="Kubok"] {
    padding-right: 15px;
}

header section article {
    width: 50%
}

header section article div:last-child {
    display: flex;
}

header section article div div {
    flex-direction: column;
    line-height: 0px;
}

.BHF {
    font-size: 70px;
}

#Services {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    width: -webkit-fill-available;
    gap: 50px;
    padding: 100px;
    font-size: 18px;
}

#Services h3 {
    font-size: 24px;
}

#Services div:first-child h1 {
    font-size: 48px;
    margin: 0;
}

#Services>div:last-child {
    text-align: end;
}

[alt="Waves"] {
    margin-top: 60px;
}

#Services div div {
    display: flex;

}

[alt="Wave1"],
[alt="Wave"] {
    margin-right: 15px;
}

#About,
#Work,
#Blog,
#Contact {
    display: flex;
}

#About {
    margin-bottom: 120px;
}

h1.About {
    font-size: 48px;
    margin: 0;
    margin-bottom: 74px;
}

.About p {
    font-size: 21px;
}

div.About:first-child {
    max-width: 33%;
}

div.About:last-child {
    max-width: 55%;
    margin-left: 130px;
}

article.About {
    padding: 50px;
}

.sheep {
    display: flex;
}

.sheep p:first-child {
    font-size: 16px;
}

.sheep p:last-child {
    font-size: 10px;
}

[alt="My-Ex-Who"] {
    margin-right: 15px;
}

main section article:first-child {
    display: flex;
}

main section article:last-child{
    margin: 3% 8%;
    max-width: 1280px;
}

main section article:last-child>div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

main section article:last-child>div:nth-child(2) h1 {
    font-size: 56px;
    max-width: 50%;
    margin: 0;
}

ul {
    padding: 0;
}

button {
    border-radius: 32px;
    border: none;
    height: 69px;
    width: 272px;
    font-weight: 400;
    font-size: large;
    font-family: 'Epilogue', sans-serif;
}

button>img {
    vertical-align: middle;
}

#square1,
#square2,
#square3,
#square4,
#square5 {
    width: 0;
    height: 0;
    background: #D9D9D9;
}

#square1 {
    width: 512px;
    height: 505px;
}

#square2 {
    width: 620px;
    height: 660px;

}

#square3 {
    width: 740px;
    height: 562px;
}

#square4 {
    width: 624px;
    height: 665px;

}

#square5 {
    width: 513px;
    height: 505px;

}

.Work {
    font-size: 60px;
    max-width: 50%;
    margin-top: 0;
}

.Work2 div {
    display: inline-block;
    vertical-align: top;
    margin: 25px;
    text-align: center;
}

.Work2 div:nth-child(3) {
    display: block;
}

.img {
    width: 376px;
    height: 241px;
    background: #D9D9D9;
}

.Blog {}

.Blog>div {
    display: inline-flex;
    width: -webkit-fill-available;
    margin: 40px;
    justify-content: space-between;
}

.Blog div {
    justify-content: space-between;
}

.Blog div div {
    display: block;
    margin: 0 20px;
}

.Blog h3 {
    margin-top: 0;
}

.Blog h1 {
    font-size: 24px;
    margin: 20px 0;
}